/* Aplica un fondo a la cabecera principal del tema Architect */
.page-header {
  background: url('/assets/images/datascience-wallpaper.jpg') no-repeat center center;
  background-size: cover;
  /* Si quieres que el texto sea blanco para contrastar: */
  color: #ffffff;
  /* Opcional: aumentar el relleno para que se vea más grande */
  padding: 6rem 0;
}
